 form {
	background-color: #ecf0f1;
}

#asientos{
	margin-top: 6px; 
}
header h3 {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 1px;
}

#boton{
	margin-bottom: 5px;
}

p{
	margin-top: 15px;
}




					