body {
	font-family: sans-serif;
	font-size: 12px;
}

#tabBox button {
	font-size: 90%;
	font-weight: bold;
	padding: 5px;
	border: 1px solid black;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom: none;
	background: white;
	color: black;
}

#entitylist {
	min-height: 200px;
}

#entitylist table {
	text-align: center;
}

#entitylist table th {
	background: #ddd;
	border-bottom: 1px solid gray;
}


.buttonBox button, .formSection button {
	font-size: 90%;
	font-weight: bold;
	border: 1px solid #026;
	margin: 4px;
	background: #35d;
	color: white;
	border-radius: 4px;
	padding: 6px;
}

.formSection button.saveButton {
	background: #0a2;
	border: 1px solid #062;
}

.formSection button.closeButton {
	background-color: #333;
	border: 1px solid #666;
}

.verticalButtonBox {
	display: inline-block;
}

.verticalButtonBox button {
	display: block;
}

#personasTable {
	display: block;
}

#usuariosTable {
	display: none;
}

#rolesTable {
	display: none;
}

#permisosTable {
	display: none;
}

.formSection h2, .formSection h3 {
	background: #44f;
	color: white;
	text-align: center;
}

.formSection {
	display: none;
	position: fixed;
	top: 12px;
	border: 1px solid black;
	border-radius: 4px;
	padding: 24px;
	background: #eee;	
	text-align: right;
}

#formPersonaUsuario select {
	width: 100%;
}


tr.selectedRow {
	background: #24b;
	color: white;
}

input[type=text],input[type=number],input[type=password],input[type=date], textarea  {
	background: white;
	color: #222;
	border: 1px solid gray;
	border-radius: 3px;
}
