<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="Viajes Compartidos">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>gestionComisiones.modelo.Comision</class>
    <class>gestionComisiones.modelo.ComisionCobrada</class>
    <class>gestionComisiones.modelo.MovimientoSaldo</class>
    <class>gestionComisiones.modelo.Pago</class>
    <class>gestionComisiones.modelo.PrecioComision</class>
    <class>gestionPuntos.modelo.Beneficio</class>
    <class>gestionPuntos.modelo.Calificacion</class>
    <class>gestionPuntos.modelo.Cupon</class>
    <class>gestionPuntos.modelo.MovimientoPuntos</class>
    <class>gestionPuntos.modelo.Sancion</class>
    <class>gestionPuntos.modelo.TipoSancion</class>
    <class>gestionUsuarios.modelo.Cliente</class>
    <class>gestionUsuarios.modelo.Permiso</class>
    <class>gestionUsuarios.modelo.PermisoRol</class>
    <class>gestionUsuarios.modelo.PermisoRolID</class>
    <class>gestionUsuarios.modelo.Persona</class>
    <class>gestionUsuarios.modelo.Rol</class>
    <class>gestionUsuarios.modelo.Sponsor</class>
    <class>gestionUsuarios.modelo.Usuario</class>
    <class>gestionUsuarios.modelo.UsuarioRol</class>
    <class>gestionViajes.modelo.Localidad</class>
    <class>gestionViajes.modelo.Maneja</class>
    <class>gestionViajes.modelo.PasajeroViaje</class>
    <class>gestionViajes.modelo.Vehiculo</class>
    <class>gestionViajes.modelo.Viaje</class>
    <properties>
      <property name="eclipselink.logging.level" value="FINE"/>
      <property name="eclipselink.ddl-generation" value="create-tables"/>
      <property name="eclipselink.allow-zero-id" value="true"/>
      <property name="javax.persistence.jdbc.user" value="root"/>
      <property name="javax.persistence.jdbc.password" value="root"/>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/seminario"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
    </properties>
  </persistence-unit>
</persistence>
